.container-1
{
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-content: center;
}
.container2
{
    width:80%;
    height:auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 100px;
    padding:20px;
   
}
.filter-btn
{
    padding:10px;
    background-color: orange;
    border: none;
    border-radius: 5px ;

}
.filter{
    display: flex;
    gap:2%;
}



.budget-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .budget-table th,
  .budget-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .budget-table th {
    background-color: #f4f4f4;
  }
  
  .action-menu {
    position: relative;
  }
  
  .action-dots {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 8px;
    text-align: left;
    cursor: pointer;
  }
  
  .dropdown-menu button:hover {
    background-color: #f4f4f4;
  }
  
  .filter {
    margin-bottom: 20px;
  }
  
  .filter-btn {
    margin-left: 10px;
  }
  .add-btn
  {
   right:-495px;
    color:white;
    background-color: black;
    border:none;
    border-radius: 5px;
    padding:10px;
    position: relative;

  }
  .pagination-controls
  {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width:95%;
    margin-top: 20px;
  }
  .action-menu{
    display: flex;
    gap: 2px;
  }
  .edit
  {
    background-color: rgb(23, 151, 249);
    color: white;
    border:none;
    padding: 5px;
    width:70px;
    border-radius: 4px;

  }
  .delete
  {
    background-color: red;
    color: white;
    border:none;
    padding: 5px;
    width:70px;
    border-radius: 4px;

  }
  .save
  {
    background-color: rgb(0, 190, 25);
    color: white;
    border:none;
    padding: 5px;
    width:70px;
    border-radius: 4px;

  }
  .chart
  {
    margin-top: 100px;
  }